# ignore gradle files
.gradle

# ignore build process results
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# tmp files
*.log
*~

# local files
node_modules
bower_components

# ide files
*.iml
.idea
.project

# vim files
.*.swp

# mac
.DS_Store

# ctag
.tags

# files for gh-pages and grunt-contrib-jasmine
.grunt

# jasmine spec runners
spec/*.html

# coverage reports
coverage

# browserify bundle & test
bundle.js
spec/index-browserify.html

# font noise from some doc tool
web/docs/public

